<!-- <%= render '/refinery/content_page' %> -->

<h1 id='body_content_title'>
  <%= page_title %>
</h1>
<section id='body'>
  <%=raw @page.content_for(:body) %>
</section>
<section id='side_body'>
  <%=raw @page.content_for(:side_body) %>
</section>
